In [14]:
import sqlite3

In [15]:
# Connect to sqlite3 database
connection = sqlite3.connect('example.db')
connection

In [16]:
cursor = connection.cursor()

In [17]:
cursor.execute('''
Create table if not exists Employee(
               id Integrer primary key,
               name Text Not null,
               age integer,
               department varchar
               )

''')
connection.commit()

In [27]:
# Insert the data into Employee

cursor.execute('''
INSERT into Employee(id,name,age,department)
               values(1,'Nisarg',22,'AIML Graduate')
''')

cursor.execute('''
INSERT into Employee(id,name,age,department)
               values(2,'Manav',21,'Chemical Trainee')
''')

cursor.execute('''
INSERT into Employee(id,name,age,department)
               values(3,'Akshar',24, 'Mechanical Associate')
''')

connection.commit()

In [28]:
# Fatching the data from the table
cursor.execute('SELECT * from Employee')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Nisarg', 22, 'AIML Graduate')
(2, 'Manav', 21, 'Chemical Trainee')
(3, 'Akshar', 24, 'Mechanical Associate')

In [30]:
# Update the table 
cursor.execute('''
UPDATE Employee
               set age = 24
               where name =='Nisarg'
''')
connection.commit()

In [31]:
cursor.execute('SELECT * from Employee')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Nisarg', 24, 'AIML Graduate')
(2, 'Manav', 21, 'Chemical Trainee')
(3, 'Akshar', 24, 'Mechanical Associate')

In [32]:
# Delete the data from the table
cursor.execute('''
Delete from Employee
               where name ='Akshar'
''')
connection.commit()

In [33]:
cursor.execute('SELECT * from Employee')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Nisarg', 24, 'AIML Graduate')
(2, 'Manav', 21, 'Chemical Trainee')

In [35]:
# Working with Sales data

connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Table for Sales data 

cursor.execute('''
CREATE TABLE IF NOT EXISTS SALES(
               ID INTEGER PRIMARY KEY,
               DATE TEXT NOT NULL,
               PRODUCT TEXT NOT NULL,
               SALES INTEGER,
               REGION TEXT NOT NULL)

''')

# INSERT DATA 

Sales_data = [
    (1,'2024-08-01','P1',100,'North'),
    (2,'2024-08-02','P2',200,'South'),
    (3,'2024-08-03','P1',100,'West'),
    (4,'2024-08-04','P2',200,'East'),
    (5,'2024-08-05','P3',300,'North')
              ]

cursor.executemany('''
INSERT INTO SALES(ID,DATE,PRODUCT,SALES,REGION)
                   values(?,?,?,?,?)
''',Sales_data)

In [36]:
connection.commit()

In [37]:
cursor.execute('SELECT * FROM SALES')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, '2024-08-01', 'P1', 100, 'North')
(2, '2024-08-02', 'P2', 200, 'South')
(3, '2024-08-03', 'P1', 100, 'West')
(4, '2024-08-04', 'P2', 200, 'East')
(5, '2024-08-05', 'P3', 300, 'North')